- set_meta_tags description: meta_tag_description('Roadmap')
.roadmap
  .row.title-row#Roadmap
    .col.s12.center-align
      %h1.page-title= 'Roadmap'
  .row.mt-0
    .col.s12
      .timeline
        .outer
          .roadmap-card
            .info
              %h3.title Writing a lot of code
              %p 2022
              %ul{style: 'margin-left: 20px;'}
                %li Developing the Dead Artists AI art generator (python)
                %li Developing the NFT concepts and smart contract (solidity)
                %li Developing the website (ruby on rails, html, css, js)
                %li Searching for suitable dead artists and paintings 💀
          .roadmap-card
            .info
              %h3.title Pre-mint phase
              %p 2023 Q1 - Q3
              %ul{style: 'margin-left: 20px;'}
                %li Generating the NFTs (takes up to 30 days!)
                %li Publishing Website, Twitter and Discord
                %li Marketing & awareness
          .roadmap-card
            .info
              %h3.title Mint phase
              %p 2023 Q3 - ? (5000 supply)
              %ul{style: 'margin-left: 20px;'}
                %li More marketing & awareness
                %li Whitelist mint 0.03 ETH
                %li Public mint 0.04 ETH
                %li 5 Dead Artists NFT will be randomly dropped to one of our minters wallet. You could be our lucky winner!
                %li Get your unloackables directly on our website
          .roadmap-card
            .info
              %h3.title After mint phase
              %ul{style: 'margin-left: 20px;'}
                %li Staking Contract implementation
                %li Programming of our NFT merch shop
                %li Programming of our Dead Artists AI generator (for Holders only, pay with Dead Artists Token)
          .roadmap-card
            .info
              %h3.title Periodical Floor Sweeps
              %p To maintain a high floor price and ensure that our early Dead Artists AI holders will be profitable, we will periodically Floor Sweep with 15% of the minted ETH.
          .roadmap-card
            .info
              %h3.title Art Basel Switzerland
              %p Meet us at Art Basel in Switzerland and get a surprise if you're a holder!
          .roadmap-card
            .info
              %h3.title Art Basel Miami
              %p * holding thumbs
          .roadmap-card
            .info
              %h3.title To be continued...
              %p
