- set_meta_tags description: meta_tag_description('Artists')
.artists
  .row
    .col.s12.center-align
      %h1.page-title= 'Artists'

  .row
    .col.s12.center-align
      - if @artists.any?
        .row
          - @artists.each do |artist|
            .col.s12
              = render artist
      - else
        %p No artists found...

  - if current_user.present? && current_user.admin?
    .row
      .col.s12.center-align
        = link_to new_artist_path do
          %i add_circle_outline
