.paintings
  .row
    .col.s12.center-align
      %span.paintings-text-title= 'Database'

  .row
    .col.s12.center-align
      .field.suffix.border
        %select#select-painting{autocomplete: "off", placeholder: "Search for a painting...", data: { controller: 'tom-select', resource: 'paintings' }}
          %option{value: ""} Search for a painting...
          - @paintings.each do |painting|
            %option{value: painting.id.to_s}= painting.name
        %i arrow_drop_down

  .row
    .col.s12.center-align
      - if @paintings.any?
        - @paintings.each do |painting|
          = render painting
      - else
        %p No paintings yet...

  - if current_user.present? && current_user.admin?
    .row
      .col.s12.center-align
        = link_to new_painting_path do
          %i add_circle_outline
