- set_meta_tags description: meta_tag_description('Paintings')
.paintings
  .row
    .col.s12.center-align
      %h1.page-title= 'Database'

  .row
    .col.s12.center-align
      - if @paintings.any?
        .row
          - @paintings.each do |painting|
            .col.s12.m6
              = render painting
      - else
        %p No paintings found...

  - if current_user.present? && current_user.admin?
    .row
      .col.s12.center-align
        = link_to new_painting_path do
          %i add_circle_outline
