.col.s6.m4.center-align
  = link_to nft_path(nft) do
    %img.responsive{src: nft.image_link + '=w265', style: 'max-height: 265px !important;'}

-# %article.no-padding
-#   .row.no-space
-#     .col.s12.center-align
-#       = link_to nft_path(nft) do
-#         %img.responsive{src: nft.image_link, style: 'max-height: 265px !important;'}
-#   .row.no-space.mt-0
-#     .col.s12.center-align
-#       = link_to nft_path(nft) do
-#         .padding
-#           %p.bold.large-text= nft.name
