.nfts
  .row
    .col.s12.center-align
      %span.nfts-text-title= 'NFTs'

  .row
    .col.s12.center-align
      .field.suffix.border
        %select#select-nft{autocomplete: "off", placeholder: "Search for an nft...", data: { controller: 'tom-select', resource: 'nfts'  }}
          %option{value: ""} Search for an nft...
          - @nfts.each do |nft|
            %option{value: nft.id.to_s}= nft.name
        %i arrow_drop_down

  .row
    .col.s12.center-align
      - if @nfts.any?
        - @nfts.each do |nft|
          = render nft
      - else
        %p No nfts found...

  - if current_user.present? && current_user.admin?
    .row
      .col.s12.center-align
        = link_to new_nft_path do
          %i add_circle_outline
