.row{data: { controller: 'countdown' }}
  .col.s12.center-align
    .countdown-container
      %h2.subtitle.center-align#headline= title
      #new-headline.hidden= new_title
      #countdown-end-date.hidden= end_date
      #countdown
        %ul
          %li
            %span#days>
            Days
          %li
            %span#hours>
            Hours
          %li
            %span#minutes>
            Minutes
          %li
            %span#seconds>
            Seconds
