.mint
  .row.title-row#Mint
    .col.s12.center-align
      %span.mint-text-title= 'Mint'

  .row.mt-0
    .col.s12.center-align
      %iframe.mint-iframe{src: "https://gateway.ipfscdn.io/ipfs/QmUfp6thZQTmNKS6tzijJpxdoBe9X7spHwzRjUh3RPTAwF/signature-drop.html?contract=0x8023Be605B9b9f45Bfda56E29c31e4DE5B58eE87&chainId=5&theme=dark", style: "max-width:100%;", frameborder: "0"}
