@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CarterOne';
  src: url('Carter_One/CarterOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BungeeShade';
  src: url('Bungee_Shade/BungeeShade-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-title: bold 37px / 1.2em CarterOne;
