.mint {
  padding: 0px 10px;
  color: $color-text;

  .mint-text-title {
    text-align: center;
    font: $font-title;
    color: $color-default;
  }

  .mint-iframe {
    width: 600px;
    height: 600px;
  }

}
