.nfts {
  padding: 0px 10px;
  color: $color-text;

  .nfts-text-title {
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
    font: $font-title;
    color: $color-default;
  }

}
