.nfts {
  padding: 0px 10px;
  color: $color-text;

  .nfts-text-title {
    text-align: center;
    font: $font-title;
    color: $color-default;
  }

  .nfts-text-subtitle {
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    color: $color-default;
  }

}
