.nfts {
  padding: 0px 10px;
  color: $color-text;

  .subtitle {
    font-family: CarterOne;
    font-size: 24px;
  }
}

.traits {
  .trait-badge {
    color: $color-black;
    background: $color-default;
    padding: 0 6rem;
  }
}

.user-nfts {
  .download-link a {
    &:hover {
      text-decoration: underline;
    }
  }
}
