.text-band {
  width: calc(100% + 30px);
  margin-left: -15px;
  //transform: rotate(-3deg);
  .zigzag {
    width: 100%;
    height: 10px;
    flex-basis: 10px;
    background-image: linear-gradient(45deg,transparent 10px,rgba(176,144,61,1) 10px),linear-gradient(-45deg,transparent 10px,rgba(176,144,61,1) 10px);
    background-size: 10px 10px;
    background-repeat: repeat-x;
    background-position: 50% 50%;
  }
  .zigzag-top {
    transform: rotate3d(0, 0, 1, 180deg);
    transform-origin: center center;
  }
  .marquee {
    width: 100%;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    span {
      display: inline-block;
      padding-left: 100%;
      animation: marquee linear infinite;
    }
  }
  @keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
  }
}
