%details
  %summary.none
    .row
      .col.s1
      .col.s9
        %p.faq-question.color-default= question
      .col.s2
        %i add
  .row
    .col.s12{style: 'margin-top: -20px;'}
      %p.faq-answer= answer.html_safe
