/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


 @import "./_includes/colors";
 @import "./_includes/fonts";
 @import "./_includes/variables";

 @import "./_modules/welcome";
 @import "./_modules/home";
 @import "./_modules/faq";

.main-black {
  background: $color-black;
  padding: 8rem 20rem;
}

.background-image {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 140vh;
  min-width: 1090px;
  z-index: -10;
  img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
  };
  @media only screen and (min-width: $min-widths-m) {
    min-height: 120vh;
  }
  @media only screen and (min-width: $min-widths-l) {
    min-height: 100vh;
  }
}

.social-media-button {
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  border-style: solid;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  img {
    width: 150px;
  }
  &::before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: -26px;
    width: 95px;
    height: 26px;
    z-index: -1;
    background-image: url(social_media_button_shadow.png);
    background-repeat: no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: -26px;
    width: 95px;
    height: 26px;
    z-index: -1;
    background-image: url(social_media_button_shadow.png);
    background-repeat: no-repeat;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  &:hover {
    background-color: $color-grey-dark !important;
    border-color: $color-grey-dark !important;
  }
}

@media only screen and (min-width: $min-widths-l) {
  nav.l.left ~ main.responsive {
    padding-left: 8rem;
  }
}

.footer {
  color: $color-white;
}
