.main-black {
  background: $color-black;
  padding: 8rem 20rem;
}

#error_explanation {
  margin-left: 15px;
}

.background-image {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 140vh;
  min-width: 1090px;
  z-index: -10;
  img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
  };
  @media only screen and (min-width: $min-widths-m) {
    min-height: 120vh;
  }
  @media only screen and (min-width: $min-widths-l) {
    min-height: 100vh;
  }
}

#pixel-grid {
  background-image: url(grid.webp);
  background-size: auto;
  background-repeat: repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  --bg-position: fixed;
  --bg-overlay-color: rgb(153,153,153);
  --bg-gradient: none;
  --fill-layer-image-opacity: 1;
  --fill-layer-video-opacity: 1;
  --fill-layer-background-overlay-color: transparent;
  --fill-layer-background-overlay-position: absolute;
}

.social-media-button {
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  border-style: solid;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  img {
    width: 150px;
  }
  &::before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: -26px;
    width: 95px;
    height: 26px;
    z-index: -1;
    background-image: url(social_media_button_shadow.png);
    background-repeat: no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: -26px;
    width: 95px;
    height: 26px;
    z-index: -1;
    background-image: url(social_media_button_shadow.png);
    background-repeat: no-repeat;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  &:hover {
    background-color: $color-grey-dark !important;
    border-color: $color-grey-dark !important;
  }
}

@media only screen and (min-width: $min-widths-l) {
  nav.l.left ~ main.responsive {
    padding-left: 8rem;
  }
}

.footer {
  color: $color-white;
}

// beercss colors
body.dark {
  --primary: #6750A4;
  --on-primary: #FFFFFF;
  // --primary: #D0BCFF;
  // --on-primary: #371E73;
  // --primary-container: #4F378B;
  // --on-primary-container: #EADDFF;
  // --secondary: #CCC2DC;
  // --on-secondary: #332D41;
  // --secondary-container: #4A4458;
  // --on-secondary-container: #E8DEF8;
  // --tertiary: #EFB8C8;
  // --on-tertiary: #492532;
  // --tertiary-container: #633B48;
  // --on-tertiary-container: #FFD8E4;
  // --error: #F2B8B5;
  // --on-error: #601410;
  // --error-container: #8C1D18;
  // --on-error-container: #F9DEDC;
  // --background: #1C1B1F;
  // --on-background: #E6E1E5;
  // --surface: #1C1B1F;
  // --on-surface: #E6E1E5;
  // --surface-variant: #49454F;
  // --on-surface-variant: #CAC4D0;
  // --inverse-surface: #E6E1E5;
  // --inverse-on-surface: #313033;
  // --outline: #938F99;
  // --active: rgba(255,255,255,.2);
  // --overlay: rgba(0,0,0,.5);
  // --elevate1: 0 2rem 2rem 0 rgba(0, 0, 0, .14), 0 1rem 5rem 0 rgba(0, 0, 0, .12), 0 3rem 1rem -2rem rgba(0, 0, 0, .2);
  // --elevate2: 0 6rem 10rem 0 rgba(0, 0, 0, .14), 0 1rem 18rem 0 rgba(0, 0, 0, .12), 0 3rem 5rem -1rem rgba(0, 0, 0, .3);
  // --elevate3: 0 10rem 16rem 0 rgba(0, 0, 0, .14), 0 1rem 31rem 0 rgba(0, 0, 0, .12), 0 3rem 9rem 0rem rgba(0, 0, 0, .4);
  // --size: 1px;
  // --font: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  // --speed1: .1s;
  // --speed2: .2s;
  // --speed3: .3s;
  // --speed4: .4s;
}
